<h2>Update Book</h2>
<% books.forEach(book => { %>
  <form action="/update/<%= book._id %>" method="POST">
    <input name="title" value="<%= book.title %>" />
    <input name="author" value="<%= book.author %>" />
    <input name="price" type="number" value="<%= book.price %>" />
    <input name="genre" value="<%= book.genre %>" />
    <button type="submit">Update</button>
  </form><br/>
<% }) %>
<a href="/"><button>Back</button></a>
